/* ===========================
  RESET & BASE STYLES
  =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  background-image: url(content/download.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* ===========================
  NAVBAR
  =========================== */
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 0;
  padding-left: 0px;
  padding-right: 20px;
}

/* Company/Business Name */

.COMPANY-OR-BUSINESS-NAME {
  margin-right: auto;
  margin-left: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.COMPANY-OR-BUSINESS-NAME a {
  padding-left: 20px !important;
  padding-right: 0 !important;
  width: 250px;
}

.COMPANY-OR-BUSINESS-NAME a::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #c0c0c0;
  z-index: -1;
  transition: 0.3s;
  transform: scaleX(0);
}

.COMPANY-OR-BUSINESS-NAME a:hover::after {
  transform: scaleX(1);
  width: 100%;
  transition: 0.3s;
}

/* ===========================
  HORIZONTAL NAVIGATION
  =========================== */
.nav-horizontal {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: rgba(253, 253, 253, 0);
  height: 60px;
  margin: 0;
  padding: 0;
}


.nav-horizontal a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  color: black;
  text-decoration: none;
}
/* ===========================
  NAVBAR RIGHT GROUP
  =========================== */
.nav-right {
  display: flex;
  position: absolute; /* place inside the navbar */
  top: 0px;
  right: 50px;        /* leave space for the menu button (60px button + 20px gap) */
  height: 60px;
  justify-content: right;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}


/* ===========================
      NAVBAR RIGHT BUTTONS
  =========================== */

  /* ABOUT BUTTON */
    .about-nav{
    position: fixed;
    right: 600px;
    height: 60px;
  }
  .about-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .about-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }

  /* SERVICES BUTTON */
    .services-nav{
    position: fixed;
    right: 490px;
    height: 60px;
  }
  .services-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .services-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }

  /* GALLERY BUTTON */
    .gallery-nav{
    position: fixed;
    right: 380px;
    height: 60px;
  }

    .gallery-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .gallery-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }

  /* REVIEWS BUTTON */
    .reviews-nav{
    position: fixed;
    right: 270px;
    height: 60px;
    }

    .reviews-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .reviews-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }

  /* PRICING BUTTON */
    .pricing-nav{
    position: fixed;
    right: 160px;
    height: 60px;
    }

  .pricing-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .pricing-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }

  /* CONTACT BUTTON */
    .contact-nav{
    position: fixed;
    right: 60px;
    height: 60px;
    }

  .contact-nav::after{
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 100%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
  right: 0px;
  }

  .contact-nav:hover::after{
    width: 100%; height: 100%;
    transform: scaleX(1);
    right: 0px;
    z-index: -1;
  }
/* ===========================
  SIDEBAR MENU BUTTON
  =========================== */
.open-sidebar-navbar {
  padding: 10px 20px;
  position: fixed;
  background-repeat: no-repeat;
  color: #000000;
  right: 15px;
  width: 60px;
  z-index: 1;
  user-select: none;
  cursor: pointer;
}

.open-sidebar-navbar::after {
  content: '' ;
  transform: scaleX(0);
  width: 100%; height: 97%;
  top: 0px;
  z-index: -1;
  position: absolute;
  background-color: #c0c0c0;
  transition: 0.3s;
    right: -10px;
}

.open-sidebar-navbar:hover::after{
  width: 100%; height: 97%;
  transform: scaleX(1.2);
  right: -10px;
  z-index: -1;
}

/* ===========================
  SIDEBAR
  =========================== */
.navigation-sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  width: 250px;
  height: 100%;
  display: none; /* Hide by default */
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.171);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  backdrop-filter: blur(10px);
}


.nav-sidebar li {
  list-style: none;
}

.nav-sidebar a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.close-button-sidebar::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  top: 50px;
  right: 0;
  z-index: -1;                       
  transform: scaleY(0);              
  transform-origin: bottom center;  
  transition: 0.3s; 
  background-color: #a8a8a8;
}

.close-button-sidebar:hover::after {
  transform: scaleY(11);              /* scales up on hover */
}

.close-button-sidebar {
  position: absolute;
  height: 55px;
  overflow: visible;    /* allow ::after to expand outside parent */
  right: 0;
  user-select: none;
  cursor: pointer;
  padding-top: 10px;
}

/* SIDEBAR HOME BUTTON HOVER */
.Home-sidebar-button a:hover {
  background-color: #a8a8a8;
}
